<div class="container mt-5 d-flex align-items-center justify-content-center">
  <div class="row">
    <div class="col text-center">
      <h2 class="my-5">
        <i class="bi bi-pencil"></i>
        Edición de Cuenta
        <i class="bi bi-person-vcard-fill"></i>
      </h2>

      <form [formGroup]="oCuentaForm!" (ngSubmit)="onSubmit()" novalidate>
        <div class="row mt-4">
          <mat-form-field>
            <mat-label>Id</mat-label>
            <input matInput formControlName="id" placeholder="Id" readonly />
            <mat-hint align="end">No se puede cambiar</mat-hint>
          </mat-form-field>
        </div>

        <div class="row mt-4">
          <mat-form-field>
            <mat-label>Codigo</mat-label>
            <input matInput formControlName="codigo" placeholder="Codigo" />
          </mat-form-field>
        </div>

        <div class="row mt-4">
          <mat-form-field>
            <mat-label>Descripcion</mat-label>
            <input matInput formControlName="descripcion" placeholder="Descripcion" />
            <mat-hint align="end">De 3 a 50 caracteres</mat-hint>
          </mat-form-field>
        </div>

        <div formGroupName="tipocuenta">
          <div class="row mt-4">
            <mat-form-field>
              <mat-label>Tipo Cuenta</mat-label>
              <div class="d-flex justify-content-end">
                <button class="btn btn-primary" (click)="showTipocuentaSelectorModal()">
                  <i class="bi bi-search"></i>
                  Buscar
                </button>
              </div>
              <div class="d-flex justify-content-start">
                <span>{{oTipocuenta.descripcion}}</span>
              </div>

              <input matInput formControlName="id" placeholder="Tipo Cuenta" />
            </mat-form-field>
          </div>
        </div>

        <div class="mt-4">
          <button class="btn btn-warning mt-4 mx-1" [routerLink]="['/admin', 'cuenta', 'plist']">
            <i class="bi bi-list"></i>
            Ir a listado de Cuentas
          </button>

          <button class="btn btn-secondary mt-4 mx-1" (click)="onReset()">
            <i class="bi bi-x-lg"></i>
            Reset
          </button>

          <button class="btn btn-primary mt-4 mx-1" type="submit" [disabled]="!oCuentaForm?.valid">
            <i class="bi bi-save"></i>
            Guardar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" [id]="'mimodal'" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Contante</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          (click)="hideModal()"></button>
      </div>
      <div class="modal-body">
        <p>{{ strMessage }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="hideModal()">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>