<div class="container mt-5 d-flex align-items-center justify-content-center">
  <div class="row">
    <div class="col text-center">
      <h2 class="my-5">
        <i class="bi bi-pencil"></i>
        Edición de Alumno
        <i class="bi bi-person-circle"></i>
      </h2>

      <form [formGroup]="oAlumnoForm!" (ngSubmit)="onSubmit()" novalidate>
        <div class="row mt-4">
          <mat-form-field>
            <mat-label>Id</mat-label>
            <input matInput formControlName="id" placeholder="Id" readonly />
            <mat-hint align="end">No se puede cambiar</mat-hint>
          </mat-form-field>
        </div>

        <div class="row mt-4">
          <mat-form-field>
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="nombre" placeholder="Nombre" />
            <mat-hint align="end">De 3 a 50 caracteres</mat-hint>
            @if (oAlumnoForm?.get('nombre')?.hasError('required')) {
            <mat-error>Debes introducir un nombre</mat-error>
            } @if (oAlumnoForm?.get('nombre')?.hasError('minlength')) {
            <mat-error>Debes introducir un nombre más largo</mat-error>
            } @if (oAlumnoForm?.get('nombre')?.hasError('maxlength')) {
            <mat-error>Debes introducir un nombre más corto</mat-error>
            }
          </mat-form-field>
        </div>

        <div class="row mt-4">
          <mat-form-field>
            <mat-label>Primer Apellido</mat-label>
            <input
              matInput
              formControlName="apellido1"
              placeholder="Primer Apellido"
            />
            <mat-hint align="end">De 3 a 50 caracteres</mat-hint>
            @if (oAlumnoForm?.get('apellido1')?.hasError('required')) {
            <mat-error>Debes introducir un primer apellido</mat-error>
            } @if (oAlumnoForm?.get('apellido1')?.hasError('minlength')) {
            <mat-error>Debes introducir un apellido más largo</mat-error>
            } @if (oAlumnoForm?.get('apellido1')?.hasError('maxlength')) {
            <mat-error>Debes introducir un apellido más corto</mat-error>
            }
          </mat-form-field>
        </div>

        <div class="row mt-4">
          <mat-form-field>
            <mat-label>Segundo Apellido</mat-label>
            <input
              matInput
              formControlName="apellido2"
              placeholder="Segundo Apellido"
            />
          </mat-form-field>
        </div>

        <div class="row mt-4">
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" placeholder="Email" />
            <mat-hint align="end">Formato email</mat-hint>
            @if (oAlumnoForm?.get('email')?.hasError('required')) {
            <mat-error>Debes introducir un primer apellido</mat-error>
            } @if (oAlumnoForm?.get('email')?.hasError('email')) {
            <mat-error>Debes introducir un email correcto</mat-error>
            }
          </mat-form-field>
        </div>

        
        <div class="row mt-4">
          <mat-form-field>
            <mat-label>Teléfono</mat-label>
            <input
              matInput
              formControlName="telefono"
              placeholder="Teléfono"
              maxlength="9"
            />
            <mat-hint align="end">Debe tener 9 dígitos y empezar con 6, 7 o 9</mat-hint>
        
            <!-- Validación: Campo requerido -->
            <mat-error *ngIf="oAlumnoForm?.get('telefono')?.hasError('required')">
              Debes introducir un teléfono
            </mat-error>
        
            <!-- Validación: Patrón inválido -->
            <mat-error *ngIf="oAlumnoForm?.get('telefono')?.hasError('pattern')">
              El teléfono debe tener 9 dígitos y comenzar con 6, 7 o 9
            </mat-error>
          </mat-form-field>
        </div>
        

       

        <div class="mt-4">
          <button
            class="btn btn-warning mt-4 mx-1"
            [routerLink]="['/admin', 'alumno', 'plist']"
          >
            <i class="bi bi-list"></i>
            Ir a listado de alumnos
          </button>

          <button class="btn btn-secondary mt-4 mx-1" (click)="onReset()">
            <i class="bi bi-x-lg"></i>
            Reset
          </button>

          <button
            class="btn btn-primary mt-4 mx-1"
            type="submit"
            [disabled]="!oAlumnoForm?.valid"
          >
            <i class="bi bi-save"></i>
            Guardar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div
  class="modal fade"
  [id]="'mimodal'"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Smart Academy</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="hideModal()"
        ></button>
      </div>
      <div class="modal-body">
        <p>{{ message }}</p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          data-bs-dismiss="modal"
          (click)="hideModal()"
        >
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>
