<div class="container mt-5 d-flex align-items-center justify-content-center">
  <div class="row">
    <div class="col text-center">
      <h2 class="my-2">
        <i class="bi bi-plus-square"></i>
        Creación de Clase
        <i class="bi bi-person-circle"></i>
      </h2>
      <form [formGroup]="oClaseForm!" (ngSubmit)="onSubmit()" novalidate>
        <div class="row mt-4">
          <mat-form-field>
            <mat-label>Asignatura</mat-label>
            <input matInput formControlName="asignatura" placeholder="Pon aquí tu asignatura" />
            <mat-hint align="start">De 3 caracteres a 50 caracteres</mat-hint>
            @if (oClaseForm?.get('asignatura')?.hasError('required')){
            <mat-error> El campo asignatura es obligatorio </mat-error>
            } @if (oClaseForm?.get('asignatura')?.hasError('minlength')){
            <mat-error> El asignatura debe ser mas largo </mat-error>
            } @if (oClaseForm?.get('asignatura')?.hasError('maxlength')){
            <mat-error> El asignatura debe ser mas corto </mat-error>
            }
          </mat-form-field>
        </div>

        <div class="row mt-4">
          <mat-form-field appearance="outline">
            <mat-label>Selecciona un Tipo</mat-label>
            <mat-select formControlName="tipo">
              <mat-option value="" disabled>Selecciona un tipo</mat-option>
              <mat-option value="INDIVIDUAL">INDIVIDUAL</mat-option>
              <mat-option value="GRUPAL">GRUPAL</mat-option>
            </mat-select>
            <mat-hint align="start">Selecciona el tipo de clase</mat-hint>
            <mat-error *ngIf="oClaseForm?.get('tipo')?.hasError('required')">
              El tipo es obligatorio.
            </mat-error>
          </mat-form-field>
        </div>
        

        <div class="row mt-4">
          <mat-form-field>
            <mat-label>Precio</mat-label>
            <input
              matInput
              formControlName="precio"
              placeholder="Cuánto es"
            />
            <mat-hint align="start">De ser un numero decimal 4 enteros max y 2 decimales max y el punto como separador</mat-hint>
            @if (oClaseForm?.get('precio')?.hasError('required')){
            <mat-error> El campo precio debe es obligatorio </mat-error>
            } @if (oClaseForm?.get('precio')?.hasError('pattern')){
            <mat-error> El precio ser un numero decimal 4 enteros max y 2 decimales max y el punto como separador </mat-error>
            }
          </mat-form-field>
        </div>

        <div class="row mt-4">
          <mat-form-field>
            <mat-label>Hora</mat-label>
            <input
              matInput
              formControlName="hora"
              placeholder="Cuántas horas"
            />
            <mat-hint align="start">De ser un numero decimal 2 enteros max y 2 decimales max y el punto como separador</mat-hint>
            @if (oClaseForm?.get('hora')?.hasError('required')){
            <mat-error> El campo hora debe es obligatorio </mat-error>
            } @if (oClaseForm?.get('hora')?.hasError('pattern')){
            <mat-error> El hora ser un numero decimal 2 enteros max y 2 decimales max y el punto como separador </mat-error>
            }
          </mat-form-field>
        </div>

        <div class="row mt-4">
          <mat-form-field>
            <mat-label>Alumno Id</mat-label>
            <input
              matInput
              formControlName="id_alumno"
              placeholder="Escribe la id de alumno"
            />
            <mat-hint align="start">Un numero entero</mat-hint>
            @if (oClaseForm?.get('id_alumno')?.hasError('required')){
            <mat-error> El campo alumno es obligatorio </mat-error>
            } @if (oClaseForm?.get('id_alumno')?.hasError('pattern')){
            <mat-error> Debe ser un numero entero </mat-error>
            }
          </mat-form-field>
        </div>

        <div class="row mt-4">
          <mat-form-field>
            <mat-label>Profesor Id</mat-label>
            <input
              matInput
              formControlName="id_profesor"
              placeholder="Escribe la id de profesor"
            />
            <mat-hint align="start">Un numero entero</mat-hint>
            @if (oClaseForm?.get('id_profesor')?.hasError('required')){
            <mat-error> El campo profesor es obligatorio </mat-error>
            } @if (oClaseForm?.get('id_profesor')?.hasError('pattern')){
            <mat-error> Debe ser un numero entero </mat-error>
            }
          </mat-form-field>
        </div>

          <br />
          <button class="btn btn-warning mt-4 mx-1" [routerLink]="['/admin', 'clase', 'plist']">
            <i class="bi bi-list"></i>
            Ir a listado de Clases
          </button>

          <button class="btn btn-secondary mt-4 mx-1" (click)="onReset()">
            <i class="bi bi-x-lg"></i>
            Reset
          </button>

          <button class="btn btn-primary mt-4 mx-1" type="submit" [disabled]="!oClaseForm?.valid">
            <i class="bi bi-floppy"></i>
            Guardar
          </button>
        </form>
    </div>
  </div>
</div>

<div class="modal fade" [id]="'mimodal'" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Smart Academy</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          (click)="hideModal()"></button>
      </div>
      <div class="modal-body">
        <p>{{ strMessage }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="hideModal()">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>