<div class="container mt-5 d-flex align-items-center justify-content-center">
  <div class="row">
    <div class="col text-center">
      <h2 class="my-2">
        <i class="bi bi-plus-square"></i>
        Creación de Apunte
        <i class="bi bi-newspaper"></i>
      </h2>
      <form [formGroup]="oApunteForm!" (ngSubmit)="onSubmit()" novalidate>
        <div class="row mt-4">
          <mat-form-field>
            <mat-label>Debe</mat-label>
            <input
              matInput
              formControlName="debe"
              placeholder="Cuanto debe"
            />
            <mat-hint align="start">De ser un numero decimal 4 enteros max y 4 decimales max y el punto como separador</mat-hint>
            @if (oApunteForm?.get('debe')?.hasError('required')){
            <mat-error> El campo debe es obligatorio </mat-error>
            } @if (oApunteForm?.get('debe')?.hasError('pattern')){
            <mat-error> El debe debe ser un numero decimal 4 enteros max y  4 decimales max y el punto como separador </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="row mt-4">
          <mat-form-field>
            <mat-label>Haber</mat-label>
            <input
              matInput
              formControlName="haber"
              placeholder="Cuanto hay"
            />
            <mat-hint align="start">De ser un numero decimal 4 enteros max y 4 decimales max y el punto como separador</mat-hint>
            @if (oApunteForm?.get('haber')?.hasError('required')){
            <mat-error> El campo debe es obligatorio </mat-error>
            } @if (oApunteForm?.get('haber')?.hasError('pattern')){
            <mat-error> El debe debe ser un numero decimal 4 enteros max y  4 decimales max y el punto como separador </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="row mt-4">
          <mat-form-field>
            <mat-label>Descripción</mat-label>
            <input
              matInput
              formControlName="descripcion"
              placeholder="Escribe una descripción"
            />
            <mat-hint align="start">De 3 caracteres a 255 caracteres</mat-hint>
            @if (oApunteForm?.get('descripcion')?.hasError('required')){
            <mat-error> El campo nombre es obligatorio </mat-error>
            } @if (oApunteForm?.get('descripcion')?.hasError('minlength')){
            <mat-error> El nombre debe ser mas largo </mat-error>
            } @if (oApunteForm?.get('descripcion')?.hasError('maxlength')){
            <mat-error> El nombre debe ser mas corto </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="row mt-4">
          <mat-form-field>
            <mat-label>Comentarios</mat-label>
            <input
              matInput
              formControlName="comentarios"
              placeholder="Escribe comentarios"
            />
            <mat-hint align="start">De 3 caracteres a 255 caracteres</mat-hint>
            @if (oApunteForm?.get('comentarios')?.hasError('required')){
            <mat-error> El campo nombre es obligatorio </mat-error>
            } @if (oApunteForm?.get('comentarios')?.hasError('minlength')){
            <mat-error> El nombre debe ser mas largo </mat-error>
            } @if (oApunteForm?.get('comentarios')?.hasError('maxlength')){
            <mat-error> El nombre debe ser mas corto </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="row mt-4">
          <mat-form-field>
            <mat-label>Momentstamp</mat-label>
            <input
              matInput
              formControlName="momentstamp"
              placeholder="Escribe momentstamp"
            />
            <mat-hint align="start">Ejemplo: 2024-11-06 13:00:00</mat-hint>
            @if (oApunteForm?.get('momentstamp')?.hasError('required')){
            <mat-error> El campo debe es obligatorio </mat-error>
            } @if (oApunteForm?.get('momentstamp')?.hasError('pattern')){
            <mat-error> El debe debe tener formato: 2024-11-06 13:00:00 </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="row mt-4">
          <mat-form-field>
            <mat-label>Orden</mat-label>
            <input
              matInput
              formControlName="orden"
              placeholder="Escribe la orden"
            />
            <mat-hint align="start">Un numero entre -128 y 127</mat-hint>
            @if (oApunteForm?.get('orden')?.hasError('required')){
            <mat-error> El campo debe es obligatorio </mat-error>
            } @if (oApunteForm?.get('orden')?.hasError('pattern')){
            <mat-error> Debe ser un numero entre -128 y 127 </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="row mt-4">
          <mat-form-field>
            <mat-label>Id  Asiento</mat-label>
            <input
              matInput
              formControlName="id_asiento"
              placeholder="Escribe la id tipo asiento"
            />
            <mat-hint align="start">Un numero entero</mat-hint>
            @if (oApunteForm?.get('id_asiento')?.hasError('required')){
            <mat-error> El campo debe es obligatorio </mat-error>
            } @if (oApunteForm?.get('id_asiento')?.hasError('pattern')){
            <mat-error> Debe ser un numero entero </mat-error>
            }
          </mat-form-field>
        </div><div class="row mt-4">
          <mat-form-field>
            <mat-label>Id Subcuenta</mat-label>
            <input
              matInput
              formControlName="id_subcuenta"
              placeholder="Escribe la id subcuenta"
            />
            <mat-hint align="start">Un numero entero</mat-hint>
            @if (oApunteForm?.get('id_subcuenta')?.hasError('required')){
            <mat-error> El campo debe es obligatorio </mat-error>
            } @if (oApunteForm?.get('id_subcuenta')?.hasError('pattern')){
            <mat-error> Debe ser un numero entero </mat-error>
            }
          </mat-form-field>
        </div><div class="row mt-4">
          <mat-form-field>
            <mat-label>Id Tipo Apunte</mat-label>
            <input
              matInput
              formControlName="id_tipoapunte"
              placeholder="Escribe la id tipo apunte"
            />
            <mat-hint align="start">Un numero entero</mat-hint>
            @if (oApunteForm?.get('id_tipoapunte')?.hasError('required')){
            <mat-error> El campo debe es obligatorio </mat-error>
            } @if (oApunteForm?.get('id_tipoapunte')?.hasError('pattern')){
            <mat-error> Debe ser un numero entero </mat-error>
            }
          </mat-form-field>
        </div>


        <br />
        <button
          class="btn btn-warning mt-4 mx-1"
          [routerLink]="['/admin', 'apunte', 'plist']"
        >
          <i class="bi bi-list"></i>
          Ir a listado de Apuntes
        </button>

        <button class="btn btn-secondary mt-4 mx-1" (click)="onReset()">
          <i class="bi bi-x-lg"></i>
          Reset
        </button>

        <button
          class="btn btn-primary mt-4 mx-1"
          type="submit"
          [disabled]="!oApunteForm?.valid"
        >
        <i class="bi bi-floppy"></i>
          Guardar
        </button>
      </form>
    </div>
  </div>
</div>

<div
  class="modal fade"
  [id]="'mimodal'"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Contante</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="hideModal()"
        ></button>
      </div>
      <div class="modal-body">
        <p>{{ strMessage }}</p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          data-bs-dismiss="modal"
          (click)="hideModal()"
        >
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>
