<div class="container text-center">
<mat-form-field>
  <mat-label>Nombre</mat-label>
  <input matInput formControlName="nombre" placeholder="Nombre" />
</mat-form-field>
<br>
<mat-form-field>
  <mat-label>Primer Apellido</mat-label>
  <input matInput formControlName="apellido1" placeholder="Primer Apellido" />
</mat-form-field>
<br>
<mat-form-field>
  <mat-label>Segundo Apellido</mat-label>
  <input matInput formControlName="apellido2" placeholder="Primer Apellido" />
</mat-form-field>
<br>
<mat-form-field>
  <mat-label>Email</mat-label>
  <input matInput formControlName="email" placeholder="Email" />
</mat-form-field>
</div>
<!--
  <mat-form-field>
    <mat-label>Textarea</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
  -->
