<div class="container text-center">
  <h1>Seguro que quiere eliminar el usuario?</h1>

  <p>{{ txt }}</p>

  <div [hidden]="isUserDelete">
    <p>Nombre: {{ oUsuarioDel.nombre }}</p>
    <p>Primer Apellido: {{ oUsuarioDel.apellido1 }}</p>
    <p>Segundo Apellido: {{ oUsuarioDel.apellido2 }}</p>
    <p>Correo: {{ oUsuarioDel.email }}</p>
  </div>
  <!-- Cambiar href a como lo tiene el -->
  <a class="btn btn-secondary" href="admin/usuario/plist">Volver</a>
  <button
    class="btn btn-primary"
    [class.disabled]="isUserDelete === true"
    (click)="deleteUser()"
  >
    Si
  </button>
  <a
    class="btn btn-danger"
    [class.disabled]="isUserDelete === true"
    href="admin/usuario/plist"
    >No</a
  >
</div>
