<div class="container mt-5 d-flex align-items-center justify-content-center">
  <div class="row">
    <div class="col text-center">
      <h2 class="my-5">
        <i class="bi bi-pencil"></i>
        Edición de Taquilla
        <i class="bi bi-person-circle"></i>
      </h2>

      <form [formGroup]="oTaquillaForm!" (ngSubmit)="onSubmit()" novalidate>
        <div class="row mt-4">
          <mat-form-field>
            <mat-label>Id</mat-label>
            <input matInput formControlName="id" placeholder="Id" readonly />
            <mat-hint align="end">No se puede cambiar</mat-hint>
          </mat-form-field>
        </div>

        <div class="row mt-4">
          <mat-form-field>
            <mat-label>Número</mat-label>
            <input matInput formControlName="numero" placeholder="Pon aquí tu número" />
            <mat-hint align="start"> Número de 3 cifras </mat-hint>
            @if (oTaquillaForm?.get('numero')?.hasError('required')){
            <mat-error> El campo número es obligatorio </mat-error>
            } @if (oTaquillaForm?.get('numero')?.hasError('minlength')){
            <mat-error> El número debe ser mas largo </mat-error>
            } @if (oTaquillaForm?.get('numero')?.hasError('maxlength')){
            <mat-error> El número debe ser mas corto </mat-error>
            }
          </mat-form-field>
        </div>

        <div class="row mt-4">
          <mat-form-field>
            <mat-label>Bloque</mat-label>
            <input
              matInput
              formControlName="bloque"
              placeholder="Escribe el bloque"
              (input)="onInputToUpperCase('bloque', $event)"
            />
            <mat-hint align="start">De 1 o 2 caracteres en mayuúsculas</mat-hint>
            @if (oTaquillaForm?.get('bloque')?.hasError('required')) {
            <mat-error>Debes introducir bloque</mat-error>
            } @if (oTaquillaForm?.get('bloque')?.hasError('minlength')) {
            <mat-error>Debes introducir un bloque mas largo</mat-error>
            } @if (oTaquillaForm?.get('bloque')?.hasError('maxlength')) {
            <mat-error>Debes introducir un bloque mas corto</mat-error>
            }
          </mat-form-field>
        </div>

        <div class="row mt-4">
          <mat-radio-group formControlName="disponible">
            <mat-radio-button [value]="true">Disponible</mat-radio-button>
            <mat-radio-button [value]="false" class="ml-3">No Disponible</mat-radio-button>
          </mat-radio-group>
          <mat-error *ngIf="oTaquillaForm?.get('disponible')?.hasError('required')">
            Seleccionar disponibilidad es obligatorio.
          </mat-error>
        </div>

        <br />

       

        <div class="mt-4">
          <button
            class="btn btn-warning mt-4 mx-1"
            [routerLink]="['/admin', 'taquilla', 'plist']"
          >
            <i class="bi bi-list"></i>
            Ir a listado de taquillas
          </button>

          <button class="btn btn-secondary mt-4 mx-1" (click)="onReset()">
            <i class="bi bi-x-lg"></i>
            Reset
          </button>

          <button
            class="btn btn-primary mt-4 mx-1"
            type="submit"
            [disabled]="!oTaquillaForm?.valid"
          >
            <i class="bi bi-save"></i>
            Guardar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div
  class="modal fade"
  [id]="'mimodal'"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Smart Academy</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="hideModal()"
        ></button>
      </div>
      <div class="modal-body">
        <p>{{ message }}</p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          data-bs-dismiss="modal"
          (click)="hideModal()"
        >
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>
