<div class="container mt-5 d-flex align-items-center justify-content-center">

  <dl class="dl-horizontal">
    <dt>ID</dt>
    <dd>{{ oUsuarioView.id }}</dd>
    <dt>Nombre</dt>
    <dd>{{ oUsuarioView.nombre }}</dd>
    <dt>Primer Apellido</dt>
    <dd>{{ oUsuarioView.apellido2 }}</dd>
    <dt>Segundo Apellido</dt>
    <dd>{{ oUsuarioView.apellido2 }}</dd>
    <dt>Correo</dt>
    <dd>{{ oUsuarioView.email }}</dd>
  </dl>

  <a class="btn btn-secondary" href="admin/usuario/plist">Volver</a>

</div>