<div class="container mt-5 d-flex align-items-center justify-content-center">
  <div class="row">
    <div class="col text-center">
      <h2 class="my-4">Ver Usuario</h2>

      <form [formGroup]="usuarioForm!">
        <div class="row mt-4">
          <mat-form-field>
            <mat-label>Id</mat-label>
            <input matInput formControlName="id" placeholder="Id" readonly />
          </mat-form-field>
        </div>

        <div class="row mt-4">
          <mat-form-field>
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="nombre" placeholder="Nombre" readonly />
          </mat-form-field>
        </div>

        <div class="row mt-4">
          <mat-form-field>
            <mat-label>Primer Apellido</mat-label>
            <input
              matInput
              formControlName="apellido1"
              placeholder="Primer Apellido"
              readonly
            />
          </mat-form-field>
        </div>

        <div class="row mt-4">
          <mat-form-field>
            <mat-label>Segundo Apellido</mat-label>
            <input
              matInput
              formControlName="apellido2"
              placeholder="Segundo Apellido"
              readonly
            />
          </mat-form-field>
        </div>

        <div class="row mt-4">
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" placeholder="Email" readonly/>
          </mat-form-field>
        </div>

        <button
          class="btn btn-warning mt-4 mx-1"
          [routerLink]="['/admin', 'usuario', 'plist']"
        >
          Volver
        </button>

      </form>
    </div>
  </div>
</div>
