<div class="container mt-5 d-flex align-items-center justify-content-center">
    <div class="row">
        <div class="col text-center">
            <h2 class="my-2">
                <i class="bi bi-plus-square"></i>
                Creación de Usuario
                <i class="bi bi-person-circle"></i>
            </h2>
            <form [formGroup]="oUsuarioForm!" (ngSubmit)="onSubmit()" novalidate>
                <div class="row mt-4">
                    <mat-form-field>
                        <mat-label>Nombre</mat-label>
                        <input matInput formControlName="nombre" placeholder="Pon aquí tu nombre" />
                        <mat-hint align="start">De 3 caracteres a 50 caracteres</mat-hint>
                        @if (oUsuarioForm?.get('nombre')?.hasError('required')) {
                            <mat-error> El campo nombre es obligatorio </mat-error>
                        }
                        @if (oUsuarioForm?.get('nombre')?.hasError('minlength')) {
                            <mat-error> El nombre debe ser más largo </mat-error>
                        }
                        @if (oUsuarioForm?.get('nombre')?.hasError('maxlength')) {
                            <mat-error> El nombre debe ser más corto </mat-error>
                        }
                    </mat-form-field>
                </div>
                <div class="row mt-4">
                    <mat-form-field>
                        <mat-label>Primer Apellido</mat-label>
                        <input matInput formControlName="apellido1" placeholder="Escribe tu primer apellido" />
                        <mat-hint align="start">De 3 caracteres a 50 caracteres</mat-hint>
                        @if (oUsuarioForm?.get('apellido1')?.hasError('required')) {
                            <mat-error>Debes introducir un primer apellido</mat-error>
                        }
                        @if (oUsuarioForm?.get('apellido1')?.hasError('minlength')) {
                            <mat-error>Debes introducir un apellido más largo</mat-error>
                        }
                        @if (oUsuarioForm?.get('apellido1')?.hasError('maxlength')) {
                            <mat-error>Debes introducir un apellido más corto</mat-error>
                        }
                    </mat-form-field>
                </div>
                <div class="row mt-4">
                    <mat-form-field>
                        <mat-label>Segundo Apellido</mat-label>
                        <input matInput formControlName="apellido2" placeholder="Escribe tu segundo apellido" />
                    </mat-form-field>
                </div>
                <div class="row mt-4">
                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email" placeholder="Pon aquí tu email" required />
                        <mat-hint align="start">Formato email</mat-hint>
                        @if (oUsuarioForm?.get('email')?.hasError('required')) {
                            <mat-error>Debes introducir un email</mat-error>
                        }
                        @if (oUsuarioForm?.get('email')?.hasError('email')) {
                            <mat-error>Debes introducir un email correcto</mat-error>
                        }
                    </mat-form-field>

                    <div class="row mt-4">
                        <mat-form-field>
                            <mat-label>Password</mat-label>
                            <input matInput formControlName="password" placeholder="Escribe la contraseña" />
                        </mat-form-field>
                    </div>
                    <div formGroupName="tipousuario">
                        <div class="row mt-4">
                            <mat-form-field>
                                <mat-label>Tipo Usuario</mat-label>
                                <div class="d-flex justify-content-end">
                                    <button class="btn btn-primary" (click)="showTipoUsuarioSelectorModal()">
                                        <i class="bi bi-search"></i>
                                        Buscar
                                    </button>
                                </div>
                                <div class="d-flex justify-content-start">
                                    {{oTipoUsuario.descripcion}}
                                </div>

                                <input matInput formControlName="id" placeholder="Tipo Usuario" />
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <br />
                <button class="btn btn-warning mt-4 mx-1" [routerLink]="['/admin', 'usuario', 'plist']">
                    <i class="bi bi-list"></i>
                    Ir a listado de Usuarios
                </button>

                <button class="btn btn-secondary mt-4 mx-1" (click)="onReset()">
                    <i class="bi bi-x-lg"></i>
                    Reset
                </button>

                <button class="btn btn-primary mt-4 mx-1" type="submit" [disabled]="!oUsuarioForm?.valid">
                    <i class="bi bi-floppy"></i>
                    Guardar
                </button>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" [id]="'mimodal'" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Smart Academy</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="hideModal()"></button>
            </div>
            <div class="modal-body">
                <p>{{ strMessage }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="hideModal()">
                    Cerrar
                </button>
            </div>
        </div>
    </div>
</div>
